@model ORT_Project.Models.Reatinship_Graduent_and_Subject_

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Reatinship_Graduent_and_Subject_</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Graduant.Sur_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Graduant.Sur_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Subject.Subject_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Subject.Subject_name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID_Reationship }) |
    @Html.ActionLink("Back to List", "Index")
</p>
