@model IEnumerable<ORT_Project.Models.Reatinship_Graduent_and_Subject_>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Graduant.Sur_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Subject.Subject_name)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.Subject.Reatinship_Graduent_and_Subject_1.)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Subject.Subject_name)
        </th>*@
        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.Graduant.Sur_name)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Subject.Subject_name)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Subject.Subject_name)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Subject.Subject_name)
    </td>
    <td>
        @Html.ActionLink("Edit", "Edit", new { id = item.ID_Reationship }) |
        @Html.ActionLink("Details", "Details", new { id = item.ID_Reationship }) |
        @Html.ActionLink("Delete", "Delete", new { id = item.ID_Reationship })
    </td>
</tr>
}

</table>
