@model IEnumerable<ORT_Project.Models.Access_level>

@{
    ViewBag.Title = "Уровень доступа";
}


<p>
    @Html.ActionLink("Добавить новый уровень доступа", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @*@Html.DisplayNameFor(model => model.Access_level1)*@
            Уровень доступа
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Access_level1)
        </td>
        <td>
            @Html.ActionLink("Редактировать", "Edit", new { id=item.ID_access_level }) |
            @Html.ActionLink("Подробности", "Details", new { id=item.ID_access_level }) |
            @Html.ActionLink("Удалить", "Delete", new { id=item.ID_access_level })
        </td>
    </tr>
}

</table>
