@model ORT_Project.Models.Employees

@{
    ViewBag.Title = "Сотрудники - подробно";
}

<h2>Подробно</h2>

<div>
    <h4>данные сотрудника</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @*@Html.DisplayNameFor(model => model.Surname)*@
            Фамилия
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Surname)
        </dd>

        <dt>
            @*@Html.DisplayNameFor(model => model.First_name)*@
            Имя
        </dt>

        <dd>
            @Html.DisplayFor(model => model.First_name)
        </dd>

        <dt>
            @*@Html.DisplayNameFor(model => model.Third_Name)*@
            Отчество
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Third_Name)
        </dd>

        <dt>
            @*@Html.DisplayNameFor(model => model.Birth_date)*@
            Дата рождения
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Birth_date)
        </dd>

        <dt>
            @*@Html.DisplayNameFor(model => model.Gender)*@
            Пол
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Gender)
        </dd>

        <dt>
            @*@Html.DisplayNameFor(model => model.Phone_number)*@
            Номер телефона
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Phone_number)
        </dd>

        <dt>
            @*@Html.DisplayNameFor(model => model.INN_passport)*@
            ИНН сотрудника
        </dt>

        <dd>
            @Html.DisplayFor(model => model.INN_passport)
        </dd>

        <dt>
            @*@Html.DisplayNameFor(model => model.Address)*@
            Адрес
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>

        <dt>
            @*@Html.DisplayNameFor(model => model.Email)*@
            Адрес электронной почты
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @*@Html.DisplayNameFor(model => model.Date_of_appointment)*@
            Дата назначения
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date_of_appointment)
        </dd>

        <dt>
            @*@Html.DisplayNameFor(model => model.Fired)*@
            Статус работника (Уволен|Работает)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fired)
        </dd>

        <dt>
            @*@Html.DisplayNameFor(model => model.Access_level1.Access_level1)*@
            Уровень доступа
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Access_level1.Access_level1)
        </dd>

        <dt>
            @*@Html.DisplayNameFor(model => model.Authorization.Login)*@
            Логин сотрудника
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Authorization.Login)
        </dd>

        <dt>
            @*@Html.DisplayNameFor(model => model.District_town_.District_name)*@
            Привязанный район
        </dt>

        <dd>
            @Html.DisplayFor(model => model.District_town_.District_name)
        </dd>

        <dt>
            @*@Html.DisplayNameFor(model => model.Position1.Position_Name)*@
            Должность
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Position1.Position_Name)
        </dd>

        <dt>
            @*@Html.DisplayNameFor(model => model.School1.School_name)*@
            Привязанное учебное учреждение
        </dt>

        <dd>
            @Html.DisplayFor(model => model.School1.School_name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Редактировать", "Edit", new { id = Model.ID_Employee }) |
    @Html.ActionLink("Назад", "Index")
</p>
