@model ORT_Project.Models.Employees

@{
    ViewBag.Title = "Сотрудники - редактирование";
}

<h2>Редактирование записи</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Данные сотрудника</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.ID_Employee)

        <fieldset class="panel-body">
            <b>
                Персональные данные
            </b>
            <div class="form-inline row">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group col-sm-3">
                    @Html.LabelFor(model => model.First_name, "Имя", htmlAttributes: new { @class = "control-label col-md-3", @style = "white-space:pre" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.First_name, new { htmlAttributes = new { @class = "form-control", placeholder = "Имя сотрудника" } })
                        @Html.ValidationMessageFor(model => model.First_name, "", new { @class = "text-danger", @display = "none" })
                    </div>
                </div>

                <div class="form-group col-sm-3">
                    @Html.LabelFor(model => model.Surname, "Фамилия", htmlAttributes: new { @class = "control-label col-sm-3", @style = "white-space:pre" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Surname, new { htmlAttributes = new { @class = "form-control", placeholder = "Фамилия сотрудника" } })
                        @Html.ValidationMessageFor(model => model.Surname, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group col-sm-3">
                    @Html.LabelFor(model => model.Third_Name, "Отчество", htmlAttributes: new { @class = "control-label col-sm-3", @style = "white-space:pre" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Third_Name, new { htmlAttributes = new { @class = "form-control", placeholder = "Отчество сотрудника" } })
                        @Html.ValidationMessageFor(model => model.Third_Name, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <div class="form-inline row" style="margin-top:15px">

                <div class="form-group col-sm-3">
                    @Html.LabelFor(model => model.Gender, "Укажите пол:", htmlAttributes: new { @class = "control-label col-sm-3", @style = "white-space:pre" })
                    <div class="col-md-10">
                        @Html.RadioButtonFor(model => model.Gender, "мужской"@*, new { htmlAttributes = new { @class = "form-control" } }*@)Мужской
                        @Html.RadioButtonFor(model => model.Gender, "женский"@*, new { htmlAttributes = new { @class = "form-control" } }*@)Женский
                        @Html.ValidationMessageFor(model => model.Gender, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group col-sm-3">
                    @Html.LabelFor(model => model.Birth_date, "Дата рождения", htmlAttributes: new { @class = "control-label col-sm-3", @style = "white-space:pre" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Birth_date, new { htmlAttributes = new { @class = "form-control", type = "date", placeholder = "Месяц/День/Год" } })
                        @Html.ValidationMessageFor(model => model.Birth_date, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <div class="form-inline row" style="margin-top:5px">
                <div class="form-group col-sm-3">
                    @Html.LabelFor(model => model.INN_passport, "ИНН Сотрудника", htmlAttributes: new { @class = "control-label col-sm-3", @style = "white-space:pre" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.INN_passport, new { htmlAttributes = new { @class = "form-control", placeholder = "Введите ИНН" } })
                        @Html.ValidationMessageFor(model => model.INN_passport, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        </fieldset>

        <fieldset class="panel-body" style="margin-top:35px">
            <b>Контактная информация</b>
            <div class="form-inline row">
                <div class="form-group col-sm-3">
                    @Html.LabelFor(model => model.Phone_number, "Номер телефона", htmlAttributes: new { @class = "control-label col-sm-3", @style = "white-space:pre" })
                    @*<label style="white-space: pre" class="c">Номер телефона</label>*@
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Phone_number, new { htmlAttributes = new { @class = "form-control", placeholder = "0XXX-XX-XX-XX" } })
                        @Html.ValidationMessageFor(model => model.Phone_number, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group col-sm-3">
                    @Html.LabelFor(model => model.Email, "Адрес электронной почты", htmlAttributes: new { @class = "control-label col-sm-3", @style = "white-space:pre" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", placeholder = "Введите адрес электронной почты", @size = "200" } })
                        @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <div class="form-inline row" style="margin-top:15px">
                <div class="form-group col-sm-3">
                    @Html.LabelFor(model => model.Address, "Адрес", htmlAttributes: new { @class = "control-label col-sm-3", @style = "white-space:pre" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Address, new { htmlAttributes = new { @class = "form-control", placeholder = "Место прописки сотрудника", @size = "300" } })
                        @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        </fieldset>

        <fieldset class="panel-body" style="margin-top:35px">
            <b>Кадровые данные</b>
            <div class="form-inline row">
                <div class="form-group col-sm-3">
                    @Html.LabelFor(model => model.Date_of_appointment, "Дата назначения", htmlAttributes: new { @class = "control-label col-sm-3", @style = "white-space:pre" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Date_of_appointment, new { htmlAttributes = new { @class = "form-control", type = "date" } })
                        @Html.ValidationMessageFor(model => model.Date_of_appointment, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group col-sm-3">
                    @Html.LabelFor(model => model.Fired, "Статус сотрудника", htmlAttributes: new { @class = "control-label col-sm-3", @style = "white-space:pre" })
                    <div class="col-md-10">
                        <div class="checkbox">
                            @Html.RadioButtonFor(model => model.Fired, false) Работает
                            @Html.RadioButtonFor(model => model.Fired, true) Уволен
                            @Html.ValidationMessageFor(model => model.Fired, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-inline row">
                <div class="form-group col-md-3">
                    @Html.LabelFor(model => model.Position, "Должность сотрудника", htmlAttributes: new { @class = "control-label col-sm-3", @style = "white-space:pre" })
                    <div class="col-md-10">
                        @Html.DropDownList("Position", null, htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Position, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="form-inline row">
                <div class="form-group col-md-6">
                    @Html.LabelFor(model => model.Access_level, "Уровень доступа", htmlAttributes: new { @class = "control-label col-sm-3", @style = "white-space:pre" })
                    <div class="col-md-10">
                        @Html.DropDownList("Access_level", null, htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Access_level, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="form-inline row">
                <div class="form-group col-sm-3">
                    @Html.LabelFor(model => model.District, "Район к которому привязан сотрудник", htmlAttributes: new { @class = "control-label col-sm-3", @style = "white-space:pre" })
                    <div class="col-md-10">
                        @Html.DropDownList("District", null, htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.District, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <div class="form-inline row">
                <div class="form-group col-sm-3">
                    @Html.LabelFor(model => model.School, "Школа к которой привязан сотрудник", htmlAttributes: new { @class = "control-label col-sm-3", @style = "white-space:pre" })
                    <div class="col-md-10">
                        @Html.DropDownList("School", null, htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.School, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <div class="form-inline row">
                <div class="form-group col-md-4">
                    @Html.LabelFor(model => model.Authotization, "Логин входа", htmlAttributes: new { @class = "control-label col-md-4", @style = "white-space:pre" })
                    <div class="col-md-10">
                        @Html.DropDownList("Authotization", null, htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Authotization, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        </fieldset>
        <div class="form-inline row">
            <div class="form-group col-sm-3">
                <div class="@*col-sm-offset-3*@ col-md-10">
                    <input type="submit" value="Сохранить запись" class="btn btn-default" />
                </div>
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Назад", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        // переопределение валидации на стороне клиента
        $.validator.methods.range = function (value, element, param) {
            var globalizedValue = value.replace(",", ".");
            return this.optional(element) || (globalizedValue >= param[0] && globalizedValue <= param[1]);
        }

        $.validator.methods.number = function (value, element) {
            return this.optional(element) || /^-?(?:\d+|\d{1,3}(?:[\s\.,]\d{3})+)(?:[\.,]\d+)?$/.test(value);
        }
    </script>
}