@model IEnumerable<ORT_Project.Models.Employees>

@{
    ViewBag.Title = "Сотрудники";
}


<p>
    @Html.ActionLink("Добавить нового", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @*@Html.DisplayNameFor(model => model.Surname)*@
            Фамилия
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.First_name)*@
            Имя
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.Third_Name)*@
            Отчество
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.Birth_date)*@
            Дата рождения
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.Gender)*@
            Пол
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.Phone_number)*@
            Номер телефона
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.INN_passport)*@
            ИНН
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.Address)*@
            Адрес
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.Email)*@
            Почта
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.Date_of_appointment)*@
            Дата назначения
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.Fired)*@
            Статус увольнения
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.Access_level1.Access_level1)*@
            Уровень доступа
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.Authorization.Login)*@
            Логин авторизации
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.District_town_.District_name)*@
            Название района
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.Position1.Position_Name)*@
            Должность
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.School1.School_name)*@
            Школа
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Surname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.First_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Third_Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Birth_date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Gender)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Phone_number)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.INN_passport)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Address)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Date_of_appointment)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Fired)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Access_level1.Access_level1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Authorization.Login)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.District_town_.District_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Position1.Position_Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.School1.School_name)
        </td>
        <td>
            @Html.ActionLink("Ред.", "Edit", new { id=item.ID_Employee }) |
            @Html.ActionLink("Удалить", "Delete", new { id=item.ID_Employee })
        </td>
    </tr>
}

</table>
