@model ORT_Project.Models.Graduant

@{
    ViewBag.Title = "Выпускники - удаление записей";
}

<h2>Удалить запись</h2>

<h3>Вы уверены что хотите удалить эту запись?</h3>
<div>
    <h4>Данные выпускника</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @*@Html.DisplayNameFor(model => model.Sur_name)*@
            Фамилия
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sur_name)
        </dd>

        <dt>
            @*@Html.DisplayNameFor(model => model.First_name)*@
            Имя
        </dt>

        <dd>
            @Html.DisplayFor(model => model.First_name)
        </dd>

        <dt>
            @*@Html.DisplayNameFor(model => model.Third_name)*@
            Отчество
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Third_name)
        </dd>

        <dt>
            @*@Html.DisplayNameFor(model => model.Birth_date)*@
            Дата рождения
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Birth_date)
        </dd>

        <dt>
            @*@Html.DisplayNameFor(model => model.Gender)*@
            Пол
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Gender)
        </dd>

        @*<dt>
            @Html.DisplayNameFor(model => model.Street)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Street)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Microdistrict)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Microdistrict)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Apartment_House)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Apartment_House)
        </dd>*@

        <dt>
            @*@Html.DisplayNameFor(model => model.Email)*@
            Почтовый адрес
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @*@Html.DisplayNameFor(model => model.Phone_number)*@
            Номер телефона
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Phone_number)
        </dd>

        <dt>
            @*@Html.DisplayNameFor(model => model.Diplom_number)*@
            Номер диплома
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Diplom_number)
        </dd>

        <dt>
            @*@Html.DisplayNameFor(model => model.Attestat_number)*@
            Номер аттестата
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Attestat_number)
        </dd>

        <dt>
            @*@Html.DisplayNameFor(model => model.Date_of_registr)*@
            Дата регистрации
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date_of_registr)
        </dd>

        <dt>
            @*@Html.DisplayNameFor(model => model.LocalityName)*@
            Населенный пункт
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LocalityName)
        </dd>

        <dt>
            @*@Html.DisplayNameFor(model => model.LocalityAddress)*@
            Адрес
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LocalityAddress)
        </dd>

        <dt>
            @*@Html.DisplayNameFor(model => model.Authorization.Login)*@
            Логин
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Authorization.Login)
        </dd>

        <dt>
            @*@Html.DisplayNameFor(model => model.Category_Graduent.Category_Graduent1)*@
            Категория выпускника
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Category_Graduent.Category_Graduent1)
        </dd>

        <dt>
            @*@Html.DisplayNameFor(model => model.District_town_.District_name)*@
            Район
        </dt>

        <dd>
            @Html.DisplayFor(model => model.District_town_.District_name)
        </dd>

        @*<dt>
            @Html.DisplayNameFor(model => model.Language1.Language_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Language1.Language_name)
        </dd>*@

        <dt>
            @*@Html.DisplayNameFor(model => model.School1.School_name)*@
            Школа
        </dt>

        <dd>
            @Html.DisplayFor(model => model.School1.School_name)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Удалить запись" class="btn btn-default" /> |
            @Html.ActionLink("Назад", "Index")
        </div>
    }
</div>
