<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
        <link href="~/Content/MvcGrid/mvc-grid.css" rel="stylesheet">
    </environment>

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/MvcGrid/mvc-grid.js"></script>
        <script>
        [].forEach.call(document.getElementsByClassName('mvc-grid'), function (element) {
                         new MvcGrid(element);
                     });
        </script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Хоум", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            @*Снизу идут комбобоксы для доступа к основным представлениям*@
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            Администрирование
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            @*Если захочешь добавить еще одну менюшку скопируй одну строку ниже и задай название контроллера и метода, а также напиши название*@
                            <li><a href="@Url.Action("Index", "Access_level")">Уровень доступа</a></li>
                            <li><a href="@Url.Action("Index", "Authorizations")">Авторизация</a></li>
                            <li><a href="@Url.Action("Index", "Languages")">Языки</a></li>
                            <li><a href="@Url.Action("Index", "Limit_of_time")">Ограничение по времени</a></li>

                        </ul>
                    </li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            Работа с регионами
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="@Url.Action("Index", "Regions")">Регионы</a></li>
                            <li><a href="@Url.Action("Index", "Schools")">Школы</a></li>
                            <li><a href="@Url.Action("Index", "District_town_")">Район(город)</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            Управление персоналом
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="@Url.Action("Index", "Employees")">Сотрудники</a></li>
                            <li><a href="@Url.Action("Index", "Fired_Employee")">Уволенные сотрудники</a></li>
                            <li><a href="@Url.Action("Index", "Positions")">Должности</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            Абитуриент
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="@Url.Action("Index", "Access_ticket")">Форма 3</a></li>
                            <li><a href="@Url.Action("Index", "Category_Graduent")">Тип выпускника</a></li>
                            <li><a href="@Url.Action("Index", "Graduants")">Выпускники</a></li>
                            
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            Работа с тестом
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="@Url.Action("Index", "Subjects")">Предметы</a></li>
                            <li><a href="@Url.Action("Index", "Receipts")">Квитанции</a></li>
                            
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - мое приложение ASP.NET</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
