@model ORT_Project.Models.Limit_of_time

@{
    ViewBag.Title = "Ограничения по времени - удалить запись";
}

<h2>Удалить запись</h2>

<h3>Вы уверены что хотите удалить эту запись?</h3>
<div>
    <h4>Период ограничения</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @*@Html.DisplayNameFor(model => model.Date_of_limit)*@
            Дата установки ограничения
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date_of_limit)
        </dd>

        <dt>
            @*@Html.DisplayNameFor(model => model.Limit_start)*@
            Начала периода
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Limit_start)
        </dd>

        <dt>
            @*@Html.DisplayNameFor(model => model.Limit_end)*@
            Конец периода
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Limit_end)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Удалить запись" class="btn btn-default" /> |
            @Html.ActionLink("Назад", "Index")
        </div>
    }
</div>
