@model ORT_Project.Models.SignaturesTable

@{
    ViewBag.Title = "ShowView";
}

<h2>ShowView</h2>

<div>
    <h4>SignaturesTable</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FK_Graduant)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FK_Graduant)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Photo3x4)
        </dt>

        <dd>
            <img srs ="@Url.Content(Model.Photo3x4)" width="250" height="250" />
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PhotoSignature)
        </dt>

        <dd>
            <img srs="@Url.Content(Model.PhotoSignature)" width="200" height="200" />
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
