@model IEnumerable<ORT_Project.Models.Subject>

@{
    ViewBag.Title = "Список предметов";
}

<h2>Предметы на ОРТ</h2>

<p>
    @Html.ActionLink("Добавить новый", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @*@Html.DisplayNameFor(model => model.Subject_name)*@
            Наименование предмета
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.Subject_Price)*@
            Цена предмета
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Subject_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Subject_Price)
        </td>
        <td>
            @Html.ActionLink("Редактировать", "Edit", new { id=item.ID_Subject }) |
            @Html.ActionLink("Удалить", "Delete", new { id=item.ID_Subject })
        </td>
    </tr>
}

</table>
