@model ORT_Project.Models.Receipt

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Receipt</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Receipt_num)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Receipt_num)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Receipt_sum)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Receipt_sum)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Payment_Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Payment_Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Bank_branch_num)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Bank_branch_num)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Employees.Surname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Employees.Surname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Graduant.Sur_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Graduant.Sur_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.School1.School_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.School1.School_name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID_Raceipt }) |
    @Html.ActionLink("Back to List", "Index")
</p>
