@model ORT_Project.Models.District_town_

@{
    ViewBag.Title = "Районы - удаление записи";
}

<h2>Удалить запись</h2>

<h3>Вы уверены что хотите удалить эту запись?</h3>
<div>
    <h4>Данные о районе</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @*@Html.DisplayNameFor(model => model.District_name)*@
            Район
        </dt>

        <dd>
            @Html.DisplayFor(model => model.District_name)
        </dd>

        <dt>
            @*@Html.DisplayNameFor(model => model.Password_district)*@
            Пароль района
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Password_district)
        </dd>

        <dt>
            @*@Html.DisplayNameFor(model => model.Region1.Region_name)*@
            Область
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Region1.Region_name)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Удалить запись" class="btn btn-default" /> |
            @Html.ActionLink("Назад", "Index")
        </div>
    }
</div>
