@model ORT_Project.Models.District_town_

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>District_town_</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.District_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.District_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Password_district)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Password_district)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Region1.Region_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Region1.Region_name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID_District }) |
    @Html.ActionLink("Back to List", "Index")
</p>
