@model ORT_Project.Models.Access_ticket

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Access_ticket</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Photo_3x4)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Photo_3x4)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Photo_signature)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Photo_signature)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Photo_of_passport)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Photo_of_passport)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Document_number)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Document_number)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Notification)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Notification)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Document_selection)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Document_selection)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Graduant.Sur_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Graduant.Sur_name)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
