@model IEnumerable<ORT_Project.Models.Fired_Employee>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Date_leavingFierd)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date_appointmentFired)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Employees.Surname)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Date_leavingFierd)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Date_appointmentFired)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Employees.Surname)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id_fired }) |
            @Html.ActionLink("Details", "Details", new { id=item.id_fired }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id_fired })
        </td>
    </tr>
}

</table>
